/FioSharp/bin
/FioSharp/obj
/FioSharp/FioSharp/obj
/FioSharp/FioSharp.UnitTests/obj
/FioSharp/packages
*.suo
/FioSharp/FioSharp/bin
/FioSharp/FioSharp.UnitTests/bin
/FioSharp/.vs
/FioSharp/FioSharp.Unity3D/obj
/FioSharp/FioSharp.Unity3D/bin
/FioSharp/FioSharp.Core/bin
/FioSharp/FioSharp.Core/obj
/FioSharp/FioSharp.UnitTests.Core/bin/Debug/netstandard2.0
/FioSharp/FioSharp.UnitTests.Core/obj
/FioSharp/FioSharp.UnitTests.Unity3D/bin/Debug/netstandard2.0
/FioSharp/FioSharp.UnitTests.Unity3D/obj
/FioSharp/FioSharp.UnitTests.Unity3D/UnityTester/Assets/Plugins
/FioSharp/FioSharp.UnitTests.Unity3D/UnityTester/.vs/UnityTester/v15
/FioSharp/FioSharp.UnitTests.Unity3D/UnityTester/obj/Debug
/FioSharp/FioSharp.Secp256k1/bin
/FioSharp/FioSharp.Secp256k1/obj
/FioSharp/FioSharp.Scep256k1.UnitTests/bin
/FioSharp/FioSharp.Secp256k1.UnitTests/bin
/FioSharp/FioSharp.Secp256k1.UnitTests/obj

*.DS_Store